/* {
    background-color: red;
    height: 100vh !important;
    overflow-y: hidden;
} */

#not-found-page{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100vh;          /* Set the height of the container */
  }
  
  .centered {
    padding: 20px;
    text-align: center;
  }
  